#Untracked Files and folders:

Undergraduate/Argonne AES/Transiet Pressure/0 to 10000 us at 2 us interval.avi
Undergraduate/Senior_Design/Particle Tracking and Image Processing
*.avi
*.mov
*.MOV
*.tiff
*.asv

Uncommon_Charter_Stats/
Watervilet/

XPS-Q_Matlab_Drivers/

Statisticals_Results.txt

#Ignore CSCI 4800 results
Graduate_Courses/CSCI4800/HomeWork/**/*.txt

Graduate_Courses/CSCI4800/HomeWork/**/*.jpg